#grandparent {width:400px;
height:300px;
border: 1px dotted blue; }
#parent { width:350px;
	height:250px;
	border: 1px dotted green;
margin: 20px;}
#child {width: 310px;
	height:200px; 
border: 1px solid red;
margin: 20px; }